.cards,
.greetings,
.randoms,
.colors,
.credit-cards,
.driver-cards {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 auto;
  max-width: 95vw;
  margin-top: 20px;
}
.id-card {
  display: flex;
  border: 1px solid black;
}
.id-card-img {
  margin: 0.3em;
}
.id-card img {
  height: 100%;
}
.id-card-info {
  margin: 0.3rem;
  line-height: 0.2;
}
.greeting {
  border: 1px solid black;
}
.credit-cards {
  flex-direction: row;
}
.credit-card {
  width: 50em;
}
.driver-card {
  border-radius: 10px;
  display: flex;
  color: white;
  background-color: orchid;
  justify-content: center;
  gap: 1em;
}
.driver-img-div {
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}
